body {
  margin: 0px;
  font-family: "Roboto", Helvetica, sans-serif;
  color: #111111;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}
.header-bg {
  background-color: #14213d;
}
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.introducao-bg {
  background-color: #efefef;
  height: 1000px;
}

.container-bg {
  background-color: #ffffff;
  width: 360px;
  padding: 20px;
}
.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
